# react app inside frontend folder
frontend/node_modules/
frontend/build/

#ignore everything in node modules folder
**/node_modules/**

# Gradle
.gradle/
gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Mac OS
.DS_Store
