:root {
  --primary-color: #007BFF;
  --primary-hover-color: #0056b3;
  --delete-button-color: #dc3545;
  --delete-button-hover-color: #a71d2a;
  --secondary-color: #FFC107;
  --font-main: 'Helvetica Neue', sans-serif;
}

body {
  font-family: var(--font-main);
}


body,
html,
* {
  box-sizing: border-box; 
  margin: 0;
}

input {
  width: 20rem;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container {
  width: 35rem;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #f5f5f5;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border-radius: 6px;
}

button:hover {
  background-color: var(--primary-hover-color);
}

.delete-button {
  background-color: var(--delete-button-color) !important;
}

.delete-button:hover {
  background-color: var(--delete-button-hover-color) !important;
}

.navigation {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.navigation .link {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.3s;
}

.navigation .link:hover {
  background-color: #ddd;
  border-radius: 6px;
  color: black;
  text-decoration: underline;
}

.checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  margin-top: 10px;
}

.checkbox input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -35px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background-color: #ffffff;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, .my-votes td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-block: 10px;
  text-align: left;
  background-color: #2196F3;
  color: white;
}

@import "LoginPage.css";
@import "Dashboard.css";
@import "Polls.css";
@import "VotingPage.css";