
body,
html,
* {
  box-sizing: border-box; 
}

input {
  width: 20rem;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container {
  width: 35rem;
  margin: 50px auto;
  border: 1px solid #000;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 1.6rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545 !important;
}

.delete-button:hover {
  background-color: #a71d2a !important;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  color: white;
  border-bottom: 1px solid #ddd;
}

.navigation .link {
  text-decoration: 'none';
  color: 'black';
  font-size: '1.2em'
}

.checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -35px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@import "LoginPage.css";
@import "Dashboard.css";
@import "Polls.css";
@import "VotingPage.css";