

.polls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll-sections {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.my-votes, .manage-polls {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #000;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 1.6rem;
}

.poll-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    margin-left: 10px;
}
